#navigation
{
    background-color: white;
    height: 125px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#navigation #title
{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    letter-spacing: 15px;
    font-size: 30px;
    text-align: center;
    margin: 25px;
    padding: 0;
}
#navigation ul
{
    overflow: hidden;
    list-style-type: none;
    text-align: center;
}

#navigation li
{
    float: none;
    display: inline;
    margin: 0 1.15em;
}
#navigation li a
{
    float: none;
    display: inline-block;
    color: black;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 15px;
}

#navigation li a:hover
{
    color: #87b8ff;
}

#navigation ul .active a
{
    font-weight: bolder;
}

#front
{
   background-image:url("./Assets/crane.jpg");

   background-position: center 25px;
   background-repeat: no-repeat;
   background-size: 1000px auto;

   margin: 0;
   padding: 0;
}

#fgeneral
{
    width: auto;
    height: 1000px;
    background-color: white;
    margin: 400px auto;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align:left;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}

#general
{
    width: auto;
    height: 1000px;
    background-color: white;
    margin: 0px auto;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align:left;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}


#pictures
{
    text-align: center;
}
.thumbnail 
{
    max-height: 200px;
    padding:10px 10px;
}
.thumbnail a
{
    text-decoration: none;
}
.thumbnail:hover
{
    opacity: .5;
}

.lightbox 
{
	display: none;

	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img 
{
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target 
{
	outline: none;
	display: block;
}

.games
{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
.games img
{
    max-width: 40%;
    background-color: black;
    padding: 5px;
}


