/*#title
{
    background-color:rgba(0,0,0, .7);
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    letter-spacing: 15px;
    font-size: 18px;
    text-align: center;
}*/

#navigation
{
    background-color: white;
    height: 125px;
}

#navigation #title
{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    letter-spacing: 15px;
    font-size: 30px;
    text-align: center;
    margin: 25px;
    padding: 0;
}
#navigation ul
{
    overflow: hidden;
    list-style-type: none;
    text-align: center;
}

#navigation li
{
    float: none;
    display: inline;
    margin: 0 1.15em;
}
#navigation li a
{
    float: none;
    display: inline-block;
    color: black;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 15px;
}

#navigation li a:hover
{
    color: #87b8ff;
}

#navigation ul .active a
{
    font-weight: bolder;
}

#front
{
   background-image:url("./Assets/crane.jpg");

   /*background-attachment: fixed;*/
   background-position: center 25px;
   background-repeat: no-repeat;
   background-size: 1000px auto;

   margin: 0;
   padding: 0;
}

#fgeneral
{
    width: auto;
    height: 1000px;
    background-color: white;
    margin: 400px auto;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align:left;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}

#general
{
    width: auto;
    height: 1000px;
    background-color: white;
    margin: 0px auto;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align:left;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}